.dream-team-members {
	padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
	justify-content: space-around;
	
	.dream-team-member {
		border: 2px solid $dividerGray;
		color: $dividerGray;
		cursor: pointer;
		height: 82px;
		width: 160px;
		display: block;
		margin: 40px 20px;
		padding: 20px;
		
		.position {
			display: block;
			width: 60px;
			margin: 0 auto;
			text-align: center;
		}
		
		.name {
			color: $nbaRed
			display: block;
			margin-top: 20px;
			text-align: center;
		}
		
		.add-icon {
			text-decoration: none;
			text-align: center;
			color: $dividerGray;
			display: block;
			font-size: 40px;
			width: 60px;
			margin: 0 auto;
		}
		
		.name + .add-icon {
			display: none;
		}
	}
}