.dream-team-members {
	
	padding: 0;
	
	.dream-team-member {
		border: 2px solid $dividerGray;
		color: $dividerGray;
		height: 82px;
		width: 160px;
		display: inline-block;
		margin: 40px;
		padding: 40px;
		
		.position {
			display: block;
			margin: 0 auto;
			width: 60px;
			margin: 0 auto;
			text-align: center;
		}
		
		a {
			text-decoration: none;
			text-align: center;
			color: $dividerGray;
			display: block;
			font-size: 40px;
			width: 60px;
			margin: 0 auto;
		}
	}
}