header {
	background-color: $headerBackgroundColor;
	color: white;
	height: 100px;
	text-align: center;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	h1 {
		font-size: 40px;
	}
}