@import "variables";
@import "header";
@import "dream-team";
@import "teams";
@import "team-players";

body {
	margin: 0;
}

main {
	font-size: $font-size;
	font-family: $font-family;
	color: $dividerGrey;
	
	a {
		text-decoration: none;
		display: block;
	}
		
	ul	{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}
