<h1>Hello precompiled Handlebars template!</h1>
<ul class="dt-dream-team">
	<li class="dt-dream-team-member"><a href="/teams">PG</a></li>
	<li class="dt-dream-team-member"><a href="/teams">SG</a></li>
	<li class="dt-dream-team-member"><a href="/teams">SF</a></li>
	<li class="dt-dream-team-member"><a href="/teams">PF</a></li>
	<li class="dt-dream-team-member"><a href="/teams">C</a></li>
</ul>