<ul class="dt-dream-team">
	<li class="dt-dream-team-member"><span class="position">PG</span><a href="/teams">+</a></li>
	<li class="dt-dream-team-member"><span class="position">SG</span><a href="/teams">+</a></li>
	<li class="dt-dream-team-member"><span class="position">SF</span><a href="/teams">+</a></li>
	<li class="dt-dream-team-member"><span class="position">PF</span><a href="/teams">+</a></li>
	<li class="dt-dream-team-member"><span class="position">C</span><a href="/teams">+</a></li>
</ul>